<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
    <!-- <br>
    <app-big-card></app-big-card> -->
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <br>

    <br>
    <app-small-card></app-small-card>

  </div>
  <div class="articles__others2">
    <app-small-card></app-small-card>
    <br>
    <br>
    <app-small-card></app-small-card>

  </div>

</div>
