.container__articles{
  margin-top: 20px;

  display: flex;
  flex-direction: row;
}
.articles__main {
  top: 20px;
}
.articles__others{
  max-width: 400px;
  margin-left: 400px;
}
.articles__others2{
  max-width: 400px;
  margin-left: 10px;
}



